{% extends 'base.html' %} {% block title %}Award Templates{% endblock %} {% block content %} {% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/data_table.css' %}">
<link rel="stylesheet" href="{% static 'css/award_templates.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- header -->
    <div class="header">
        {% if award.id %}
        <h5>Award Templates <a href="{% url 'nominate_app:new_template' award.id %}" class="pull-right"><i class="fa fa-plus add-icon"></i></a></h5>
        {% else %}
        <h5>Award Templates <a class="pull-right"><i class="fa fa-plus add-icon back-nav"></i></a></h5>
        {% endif %}
    </div>


<div class="dropdown">
    {% for form in forms %} {% if forloop.counter == 1 %}
    <button class="btn-outline-secondary form-control" type="button" data-toggle="dropdown">
        <div class="row" id="row">
            <div class="col-sm-11" id="award_name_container">
                {{ award.name.capitalize }}
            </div>
            <div class="col-sm-1" id="caret_icon_container">
                <i class="fa fa-one-half fa-chevron-down" id="down-arrow" ></i>
            </div>
        </div>
      </button>

    <div class="dropdown-menu dropdown-menu-awards">

        {% endif %} {% if form.name == award.name %}
        <a class="dropdown-item active" id="dropdown-item0" href="{% url 'nominate_app:award_templates_index' award_id=form.id %}" value='{{ form.id }}'>{{ form.name|title }}</a> {% else %}
        <a class="dropdown-item" id="dropdown-item{{ forloop.counter }}" href="{% url 'nominate_app:award_templates_index' award_id=form.id %}" value='{{ form.id }}'>{{ form.name|title }}</a> {% endif %} {% empty %}
        <a class="dropdown-item">No Awards Found</a> {% endfor %}

    </div>
</div>


<div class="page-content">
    <table>
        <thead>
            <tr>
                <th scope='col'></th>
                <th scope="col">Name</th>
                <th scope="col">Created at</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for template in load_templates %}
            <tr data-rowId={{form.id}}>
                <td scope="row" data-label="Select" class="row-function row-selection" onclick="handleSelectCellClick(event);"><input type="checkbox" onclick="checkboxClick(event);" /></td>

                <td scope="row" data-label="Name"><a href="{% url 'nominate_app:award_template' award.id template.id %}">{{template.template_name}}</a></td>

                <td scope="row" data-label="Created at">{{template.created_at|date:'d-m-Y'}}</td>

                <td scope="row" data-label="Actions">
                    <a href="{% url 'nominate_app:edit_award_template' award.id template.id %}"><i class="fa fa-edit edit_fa"></i></a>

                    <form action="{% url 'nominate_app:award_template' award.id template.id %}" method="post" id="form_{{form.id}}" class="form_det">
                        {% csrf_token%}
                        <input type="hidden" name="_method" value="delete">
                        <i class="fa fa-trash" type="submit" value="Delete" onclick='$("#form_{{form.id}}").submit()'></i>
                    </form>
                </td>

            </tr>
            {% empty %}
            <tr class="d-flex">
                <td class="col-10" id="column"> No Awards Found </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}