{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load staticfiles %}
<script src="{% static 'js/award_templates.js' %}"></script>



<div class="header" style="background-image: linear-gradient(to right, #5e7479 , #70e4af5e);color:white;padding:10px 20px;font-size:14px !important;">
  <h5>
    <a href="{% url 'nominate_app:award_templates_home' %}" class="pull-left mr-4"><i class="fa fa-chevron-left" style="color: white;"></i></a>
    Create a new Award Template
    <div class="custom-control custom-switch pull-right">
      <!-- switch -->
      <label class="custom-control-label" for="customSwitch1" ></label>
    </div>
  </h5>
</div>


<div class = "container">
  <div class="form-group">

    <form method = "post" action="/awards/{{award.id}}/award_templates/">
      {% if award_form.errors or formset.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <ul>
            {{ award_form.errors }}
            {{ formset.errors }}
          </ul> 
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>  
      {% endif %}
      {% csrf_token %}

      <div class = "row award_top_margin">
        <div class="col-md-2">
          <label class="col-form-label" for='{{award_form.template_name}}'>Template Name</label>
        </div>
        <div class="col-md-8">    
          {{ award_form.template_name }}
        </div>
      </div> 

      <br>
      {{ formset.management_form }}
      {% for form in formset.forms %}
      <div class="formset_table add_template_questions">
        <div class = "row award_top_margin ">
          <div class="col-md-2">
            <label class="col-form-label" for='{{form.qname}}' >Question</label>
          </div>

          <div class="col-md-8">    
            {{ form.qname|attr:"class:form-control" }}
          </div>

          <div class="col-md-2">
            <span class="fa del_btn_formset remove_nomination">
              <label><span class="fa fa-trash-o fa-lg" style="color: #bf1a1a">
                {{ form.DELETE|attr:"class:award-checkbox" }}
                </span>
              </label>
            </span> 
          </div>
        </div> 

        <div class = "row award_top_margin ">
          <div class="col-md-2"> 
            <div class="form-row">
              <label class="col-form-label" for='{{form.qtype}}' >Question Type</label> 
            </div>
          </div>

          <div class="col-md-8"> 
            <div class="form-group">
              {{ form.qtype|attr:"class:form-control objective-type" }}
            </div>

            <div class="objective-type-container" id="id_questions_set-0-objective-container">
                <div class="form-group">
                    <div class='input-group row p-1'>
                      <div class='col-md-8'>
                          <input type="text" class='form-control' id='id_questions_set-0-objectives' name='questions_set-0-objectives'/>
                      </div>

                      <div class='col-md-2'>
                        <i class="fa fa-minus objective-cancel" name='objective-cancel'aria-hidden="true"></i>
                      </div>
                    </div>
                    
                     <a class="objective-add-button btn" name='objective-button'>
                      <i class="fa fa-plus" aria-hidden="true"></i>
                       Add Choice
                    </a>
                </div>
            </div> 

          </div>
        </div>

        <div class="row">
          <div class="col-md-2"> 
            <div class="form-row">
              <label class="col-form-label" for='{{form.group}' >Group</label> 
            </div>
          </div>

          <div class="col-md-8">
            <div class="form-group">
              {{ form.group|attr:"class:form-control" }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2"> 
            <div class="form-row">
              <label class="col-form-label" for='{{form.attachment_need}}'>Need Attachment</label> 
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              {{ form.attachment_need|attr:"class:attachment_checkbox" }}
            </div>
          </div>
        </div>

      </div>
 

      <div class = "row award_top_margin">
        <div class="col-md-3">
          <button name="add_more" id="add_more" type="button" class="btn btn-outline-primary ml-1 add_more"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Add Question</button>
        </div>
      </div> 

      {% endfor %}  
      <div class ="row award_top_margin justify-content-md-center m-2">
        <div class="col-sm-4">
          <a href="{% url 'nominate_app:award_templates_home' %}" class="btn btn-danger">Cancel</a>
          <button type="submit" class="btn btn-success">Submit</button>
        </div>  
      </div> 

    </form> 
  </div>
</div>
{% endblock %}
