{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

{% load staticfiles %}
<script src="{% static 'js/edit_award_template.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/award_templates.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">



<div class="header">
  <h5>
    <a href="{% url 'nominate_app:award_templates_home' %}" class="pull-left mr-4"><i class="fa fa-chevron-left back-nav"></i></a>
    Award Template - {{ template.template_name }}
    <div class="custom-control custom-switch pull-right">
      <!-- switch -->
      <label class="custom-control-label" for="customSwitch1" ></label>
    </div>
  </h5>
</div>
      
      
  <div class="container">
  {% for question in questions %}
    <div class="formset_table add_template_questions">

      <div class = "row award_top_margin ">
        <div class="col-md-2">
          <div class="form-row">
            Question
          </div>
        </div>
        <div class="col-md-8">    
          <p class="text-muted">{{ question.qname }}</p>
        </div>
      </div> 

      <div class = "row award_top_margin ">
        <div class="col-md-2"> 
          <div class="form-row">
            Question Type
          </div>
        </div>
        <div class="col-md-3"> 
          <div class="form-group">
            <p class="text-muted">{{ question.qtype }}</p>
          </div>             
        </div>
      </div>
      {% if question.qtype == "OBJECTIVE" %}
          <div class = "row award_top_margin ">
            <div class="col-md-2"> 
              <div class="form-row">
                Options
              </div>
            </div>
          <div class="col-md-3"> 
        {% for option in question.options %}
              <div class="row">
                  <p class="text-muted col">{{ option }}</p>
              </div>
        {% endfor %}
            </div>
          </div>
      {% endif %}
      <div class = "row award_top_margin ">
        <div class="col-md-2"> 
          <div class="form-row">
            Group
          </div>
        </div>
        <div class="col-md-3"> 
          <div class="form-group">
            <p class="text-muted">{{ question.groups.first.name }}</p>
          </div>
        </div>
      </div>

    </div>
    <hr>
      {% endfor %}  
    
      <div class ="row award_top_margin justify-content-md-center">
        <div class="col-md-4">
          <a href="{% url 'nominate_app:award_templates_home' %}" class="btn btn-danger">Back</a>
        </div>  
      </div> 

  </div>
{% endblock %}