{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

{% load staticfiles %}
<script src="{% static 'js/edit_award_template.js' %}"></script>
<div class = "container">
  <div class="form-group">
    <div class = "row award_top_margin">
      <div class="col-sm-10">
        <div class="form-row float-right">
          <label class="col-form-label" name='is_active'>Enable/Disable</label>
          <div class="custom-control custom-switch">
            <label class="custom-control-label" for="customSwitch1" ></label>
          </div>
        </div>
      </div>
    </div>

    <div class = "row ">
      <div class="col-sm-2">
        <label class="col-form-label" for=''><h5>Template Name</h5></label>
      </div>
      <div class="col-sm-8">    
        {{ template.template_name }}
      </div>
    </div> 
    <br>
      
      
  {% for question in questions %}
    <div class="formset_table add_template_questions">

      <div class = "row award_top_margin ">
        <div class="col-sm-2">
          <label class="col-form-label" for='{{form.qname}}' >Question</label>
        </div>
        <div class="col-sm-8">    
          <p class="text-muted">{{ question.qname }}</p>
        </div>
      </div> 

      <div class = "row award_top_margin ">
        <div class="col-sm-2"> 
          <div class="form-row">
            <label class="col-form-label" for='{{form.qtype}}' >Question Type</label> 
          </div>
        </div>
        <div class="col-sm-3"> 
          <div class="form-group">
            <p class="text-muted">{{ question.qtype }}</p>
          </div>             
        </div>
      </div>
      {% if question.qtype == "OBJECTIVE" %}
          <div class = "row award_top_margin ">
            <div class="col-sm-2"> 
              <div class="form-row">
                <label class="col-form-label" for='{{form.group}' >Options:</label> 
              </div>
            </div>
          </div>
        {% for option in question.options %}
          <div class="row">
            <div class="col-sm-3 offset-sm-2"> 
              <div class="form-group">
                <p class="text-muted">{{ option }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      <div class = "row award_top_margin ">
        <div class="col-sm-2"> 
          <div class="form-row">
            <label class="col-form-label" for='{{form.group}' >Group</label> 
          </div>
        </div>
        <div class="col-sm-3"> 
          <div class="form-group">
            <p class="text-muted">{{ question.group }}</p>
          </div>
        </div>
      </div>

    </div>
    <hr>
      {% endfor %}  
    
      <div class ="row award_top_margin justify-content-md-center">
        <div class="col-sm-4">
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>  
      </div> 

  </div>
</div>  
{% endblock %}