{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


<link rel="stylesheet" href="{% static 'css/data_table.css' %}">

<style>
  .dropdown-menu-awards{
    width: 100%;
    left:5px;
}
.btn-outline-secondary{
    text-align: left;
    border-radius: 0px;
}
.btn-outline-secondary:focus{
    box-shadow: none;
}
#caret_icon_container{
    text-align: right;
    font-size: 1.5em;
}


</style>


<div class="container-fluid" style="padding-left:0px !important;padding-right:0px !important;">
  <div class="header" style="background-image: linear-gradient(to right, #5e7479 , #70e4af5e);color:white;padding:10px 20px;font-size:14px !important;">
        <h5>Nomination Review</h5>
  </div>
</div>


<div class="dropdown">
    {% for status in statuses %}
    {% if forloop.counter == 1 %}
      <button class="btn-outline-secondary form-control" type="button" data-toggle="dropdown">
        <div class="row">
            <div class="col-sm-11" id="award_name_container">
                {{ c_status }}
            </div>
            <div class="col-sm-1" id="caret_icon_container">
                <i class="fa fa-one-half fa-chevron-down" style="vertical-align: top" ></i>
            </div>
        </div>
      </button>
      
       <div class="dropdown-menu dropdown-menu-awards">

    {% endif %}

    {% if status == c_status %}
        <a class="dropdown-item active" id="dropdown-item0" href="{% url 'nominate_app:nomination_review_index' %}?status={{ status }}" value='{{ status }}'>{{ status }}</a>
    {% else %}
        <a class="dropdown-item" id="dropdown-item{{ forloop.counter }}" href="{% url 'nominate_app:nomination_review_index' %}?status={{ status }}" value='{{ status }}'>{{ status }}</a>
    {% endif %}
    
  {% endfor %}
        
    </div>
</div>

<div class="page-content">
<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Submitted At</th>
      <th scope="col">Award</th>
      <th scope="col">Template</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
{% for submission in submissions %}
    <tr data-rowId={{submission.id}}>

      <td scope="row" data-label="Name">{{submission.email}}</td>
      <td scope="row" data-label="Submitted At">{{submission.submitted_at}}</td>
      <td scope="row" data-label="Award">{{submission.award_name}}</td>
      <td scope="row" data-label="Template">{{submission.template_name}}</td>
      {% if c_status == 'Submitted' %}
      	<td scope="row" data-label="Action"><a href="{% url 'nominate_app:nomination_review_rating' nomination_submitted_id=submission.id%}">review</a></td>
      {% else %}
      	<td scope="row" data-label="Action"><a href="{% url 'nominate_app:nomination_review_rating' nomination_submitted_id=submission.id%}">view</a></td>
      {% endif %}
    </tr>
  {% empty %}

  {% endfor %}
   </tbody>
  </table>
 </div>

{% endblock %}
