{% extends 'base.html' %} {% block title %}User Management{% endblock %}{% block content %} {% load staticfiles %}


<link rel="stylesheet" href="{% static 'css/data_table.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/user_management.css' %}">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- header -->

    <div class="header">
        <h5>User Management <a href="{% url 'nominate_app:new_user' %}" class="pull-right"><i class="fa fa-user-plus add-icon"></i></a></h5>
    </div>

<div class="dropdown">
    {% for group in groups %} {% if forloop.counter == 1 %}
    <button class="btn-outline-secondary form-control" type="button" data-toggle="dropdown">
        <div class="row" id="row">
            <div class="col-sm-11" id="award_name_container">
                {{ c_group.name.capitalize }}
            </div>
            <div class="col-sm-1" id="caret_icon_container">
                <i class="fa fa-one-half fa-chevron-down down-arrow"></i>
            </div>
        </div>
      </button>

    <div class="dropdown-menu dropdown-menu-awards">

        {% endif %} {% if group.name == c_group.name %}
        <a class="dropdown-item active" id="dropdown-item0" href="{% url 'nominate_app:users' %}?group={{group.id}}" value='{{ group.id }}'>{{ group.name|title }}</a> {% else %}
        <a class="dropdown-item" id="dropdown-item{{ forloop.counter }}" href="{% url 'nominate_app:users' %}?group={{group.id}}" value='{{ group.id }}'>{{ group.name|title }}</a> {% endif %} {% empty %}
        <a class="dropdown-item">No Awards Found</a> {% endfor %}

    </div>
</div>

<div class="page-content">
    <table>
        <thead>
            <tr>
                <th scope='col'></th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Base Location</th>
                <th scope="col">Designation</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr data-rowId={{user.id}}>

                <td> </td>
                <td scope="row" data-label="First Name">{{user.first_name}}</td>
                <td scope="row" data-label="Last Name">{{user.last_name}}</td>
                <td scope="row" data-label="Email">{{ user.email }}</td>
                <td scope="row" data-label="Email">{{ user.baselocation }}</td>
                <td scope="row" data-label="Email">{{ user.designation }}</td>

                <td scope="row" data-label="Actions">
                    {% if user.is_exist %}
                    <a href="{% url 'nominate_app:edit_user' user.id %}"><i class="fa fa-edit edit_fa"></i></a>
                    <a href="{% url 'nominate_app:delete_user' user.id %}"><i class="fa fa-trash fa-2x form_det"></i></a> {% else %}
                    <a href="{% url 'nominate_app:edit_invited_user' user.id %}"><i class="fa fa-edit edit_fa"></i></a>
                    <a href="{% url 'nominate_app:delete_invited_user' user.id %}"><i class="fa fa-trash fa-2x form_det"></i></a> {% endif %}
                </td>

            </tr>
            {% empty %}
            <tr class="d-flex">
                <td class="col-10"> No users Found </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}