{% extends 'base.html' %} {% block content %} {% load staticfiles %}


<link rel="stylesheet" href="{% static 'css/data_table.css' %}">
<link rel="stylesheet" href="{% static 'css/user_management.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- header -->
<div class="container top" >
    <div class="header">
        <a href="javascript:history.back()" class="pull-left mr-4"><i class="fa fa-chevron-left left-arrow" ></i></a>
        <h5>Invite a User</h5>
    </div>
</div>

<div class="container">
    <form method="POST" action="/users/create">{% csrf_token %}
        <div class="row mt-2">
            <div class="col-md-2">
                <label for="">Email*</label>
            </div>
            <div class="col-md-6">
                {{invite_form.email}}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <label for="">Group</label>
            </div>
            <div class="col-md-6">
                {{ invite_form.group }}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-1 p-1 offset-4">
                <a class="btn btn-outline-primary" href="{% url 'nominate_app:users' %}">cancel</a>
            </div>
            <div class="col=md-1 p-1">
                <button class="btn btn-outline-danger">submit</button>
            </div>
        </div>

    </form>
</div>

{% endblock %}