{% extends 'base.html' %} {% block content %} {% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/data-table.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/approvals.css' %}">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container-fluid" id="top-nav">
    <div class="header">
        <h5>Approvals</h5>

    </div>
    <div class="dropdown">
        {% for status in statuses %} {% if forloop.counter == 1 %}
        <button class="btn-outline-secondary form-control" type="button" data-toggle="dropdown">
            <div class="row">
                <div class="col-sm-11" id="award_name_container">
                    {% if selected_status == 'reviewed' %} To be Approved {% endif %}
                    {% if selected_status == 'history' %} History {% endif %}
                </div>
                <div class="col-sm-1" id="caret_icon_container">
                    <i class="fa fa-one-half fa-chevron-down down-arrow" ></i>
                </div>
            </div>
          </button>
        <div class="dropdown-menu dropdown-menu-awards">
            {% endif %} {% if status.lower == selected_status %}
            <a class="dropdown-item active" id="dropdown-item0" href="{% url 'nominate_app:approval' %}?status={{status.lower}}">
                    {% if status == 'reviewed' %} To be Approved {% endif %}
                    {% if status == 'history' %} History {% endif %}
            </a> {% else %}
            <a class="dropdown-item" href="{% url 'nominate_app:approval' %}?status={{status.lower}}" id="dropdown-item{{ forloop.counter }}">
                {% if status == 'reviewed' %} To be Approved {% endif %}
                    {% if status == 'history' %} History {% endif %}
            </a> {% endif %} {% endfor %}
        </div>

    </div>
    <div class="page-content">
        <table>
            <thead>
                <tr>
                    <th scope="col">Award Name</th>
                    <th scope="col">Template Name</th>
                    <th scope="col">Email</th>
                    {% if selected_status == 'history' %}
                    <th scope="col">Submitted At</th>
                    <th scope="col">Status</th>
                    {% endif %}
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in data %}
                <tr data-rowId={{submission.id}}>

                    <td scope="row" data-label="Award Name">{{submission.award_name}}</td>
                    <td scope="row" data-label="Template Name">{{submission.template_name}}</td>
                    <td scope="row" data-label="Email">{{submission.email}}</td>
                    {% if selected_status == 'history' %}
                    <td scope="row" data-label="Submitted At">{{ submission.submitted_at }}</td>
                    <td scope="row" data-label="Status">{{ submission.status }}</td>
                    {% endif %}
                    <td scope="row" data-label="Action">
                        {% if selected_status.lower == "reviewed" %} {% if submission.avg_rating >= 3.0 %}
                        <input onclick="location.href='{% url 'nominate_app:approve' submission.id %}'" type="button" class="btn btn-success" value="Approve"> {% else %}
                        <a class="text-muted">Not enough rating</a> {% endif %} {% else %} {% if submission.editable %}
                        <input onclick="location.href='{% url 'nominate_app:approval_edit' submission.id %}'" type="button" class="btn btn-success" value="Edit"> {% else %}
                        <input onclick="location.href='{% url 'nominate_app:approve' submission.id %}'" type="button" class="btn btn-success" value="View"> {% endif %} {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No nominations reviewed. </td>

                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row bottom">
        {% if data.has_other_pages %}
        <ul class="pagination">
            {% if data.has_previous %}
            <li><a href="?page={{ data.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %} {% for i in data.paginator.page_range %} {% if data.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
            </li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %} {% endfor %} {% if data.has_next %}
            <li><a href="?page={{ data.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>

</div>
{% endblock %}