{% extends 'base.html' %}
	{% load widget_tweaks %}
	{% block content %}
	{% load staticfiles %}
	<script src="{% static 'js/award_creation.js' %}"></script>
	<div class = "container">
		<div class="form-group">
			{% if award_form.errors or formset.errors %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<ul>
					{{ award_form.errors }}
					{{ formset.errors }}
				</ul>	
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>	
      {% endif %}
			<form method = "post" id="needs-validation" novalidate>
				{% csrf_token %}
				<div class = "row award_top_margin">
				  <div class="col-sm-10">
				    <div class="form-row float-right">
				    	<label class="col-form-label" for="name">Enable/Disable</label>
	            <div class="custom-control custom-switch">
							  {{ award_form.is_active|attr:"class:custom-control-input"|attr:"id:customSwitch1" }}
							  <label class="custom-control-label" for="customSwitch1"></label>
							</div>
			      </div>
				  </div>
				</div>
				<div class = "row award_top_margin">
				  <div class="col-sm-2">
				  	<label class="col-form-label" for="name">Award Name</label>
				  </div>
				  <div class="col-sm-8">  	
				    <input type="text" name="name" class="form-control" placeholder="Enter award name" value="" required />
				    <div class="invalid-feedback">
			        Please provide a award name.
			      </div>
				  </div>
				</div> 
				<div class = "row award_top_margin">
				  <div class="col-sm-2">
				  	<label class="col-form-label" for="name">Frequency</label>
				  </div>
				  <div class="col-sm-3">  	
				    <div class="form-group">
					    <select class="form-control" id="exampleSelect1" name="frequency" required>
					      {% for k, v in frequencies %}
					        {% if k == "" %}
					          <option selected="selected" value="{{ k }}">{{ v }}</option>
					        {% else %}
					          <option value="{{ k }}">{{ v }}</option>
					        {% endif %}
					      {% endfor %}
					    </select>
					    <div class="invalid-feedback">
				        Please provide frequency.
				      </div>
					  </div>
				  </div>
			  </div> 
			  {{ formset.management_form }}
			  {% for form in formset.forms %}
				  <div class = "row award_top_margin add_nomination_period">
				  	<div class="col-sm-2">
				  		<div class="form-row">
								<label class="col-form-label" for="name">Label</label>
							</div>
				  	</div>
						<div class="col-sm-2"> 	
					    <div class="form-group">
						    {{ form.level|attr:"class:form-control" }}
						  </div>
						</div>
						<div class="col-sm-3"> 	
							<div class="form-row">
								<label class="col-form-label" for="name">Start Date</label>
							  <div class="form-group">
							    {{ form.start_day|attr:"class:form-control" }}
						    </div> 
						  </div>
						</div>
					  <div class="col-sm-1"> 	
			        <div class="form-row">
								<label class="col-form-label" for="name">To</label>
						  </div>		
						</div>		
						<div class="col-sm-3"> 
						  <div class="form-row">
								<label class="col-form-label" for="name">End Date</label>	
								<div class="form-group">
							    {{ form.end_day|attr:"class:form-control" }}
						    </div>
						    <span class="fa del_btn_formset remove_nomination">
						    	<label><span class="fa fa-minus">
						      {{ form.DELETE | attr:"class:hide_checkbox"}}
						        </span>
						      </label>
						    </span>  
							</div>
						</div>
					</div>

	        <div class = "row award_top_margin justify-content-md-center">
	        	<div class="col-sm-2">
				  	  <button type="button" class="btn btn-primary add_more">Add More</button>
				    </div>
				  </div>   
				  <br>
					<div class ="row award_top_margin">
						<div class="col-sm-2"> 
							<label class="col-form-label" for="name">Description</label>	
						</div>	
						<div class="col-sm-6"> 
							<textarea class="form-control" rows="5" id="comment" name="description"></textarea>	
						</div>	
			    </div>	
			  {% endfor %} 	
			  <div class ="row award_top_margin justify-content-md-center">
			  	<div class="col-sm-4">
				  	<button type="button" class="btn btn-danger">Cancel</button>
				  	<button type="submit" class="btn btn-success">Success</button>
				  </div>
				</div>
			</form>
		</div>
	</div>
	<style>
	  .was-validated .form-control:valid{
		  background-image: none;
		  border-color: #ced4da;
		}
  </style>
{% endblock %}
