{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
	<form method = "post">
		</br>
		{% csrf_token %}

		{{ award_form.name }}</br>
		{{ award_form.frequency }}</br>
		{{ award_form.description }}

		{{ formset.management_form }}
		</br>
		</br>
		{% for form in formset.forms %}
			<div class='table'>
    		<table class='no_error'>
    			<label for='{{form.level}}'>Level</label>
        		{{ form.level }}
        		<label for='{{form.start_day}}'>Start Day</label>
        		{{ form.start_day }}
        		<label for='{{form.end_day}}'>End Day</label>
        		{{ form.end_day }}
        		<label for='{{form.DELETE}}'>Delete</label>
        		{{ form.DELETE }}
    		</table>
    		</div>
		{% endfor %}
	<input type="button" value="+" id="add_more">
	</br>
	</br>
	<button type="submit">Save</button>
	</form>
	<script>
	    $('#add_more').click(function() {
	        cloneMore('div.table:last', 'nominationperiod_set');
	    });

	    $(document).on('change', '[type=checkbox]', function(event) {
			event.preventDefault();
			var checkboxId = event.target.id;
			par_table = $('#'+checkboxId).closest('.table');
			par_table.remove();
			
		}); 
		
	   	function cloneMore(selector, type) {
		    var newElement = $(selector).clone(true);
		    var total = $('#id_' + type + '-TOTAL_FORMS').val();
		    newElement.find(':input').each(function() {
		        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
		        var id = 'id_' + name;
		        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
		    });
		    newElement.find('label').each(function() {
		        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
		        $(this).attr('for', newFor);
		    });
		    total++;
		    $('#id_' + type + '-TOTAL_FORMS').val(total);
		    $(selector).after(newElement);
		}
	</script>	
{% endblock %}