{% extends 'base.html' %}


{% block content %}

{% load staticfiles %}
<script src="{% static 'js/award_creation.js' %}"></script>

	<form method = "post">
		</br>
		{% csrf_token %}
		<!-- {% include 'award.html' %} -->
		{{ award_form }}
		{{ formset.management_form }}
		</br>
		</br>
		{% for form in formset.forms %}
			<div class='table'>
    		<table class='no_error'>
    			<label for='{{form.level}}'>Level</label>
    			{{ form.level }}
    			<div id=levelerror> </div>
    			<label for='{{form.start_day}}'>Start Day</label>
    			{{ form.start_day }}
    			<label for='{{form.end_day}}'>End Day</label>
    			{{ form.end_day }}
    			<label for='{{form.DELETE}}'>Delete</label>
    			{{ form.DELETE }}
        		<!-- {% include 'form.html' %} -->
    		</table>
    		</div>
		{% endfor %}
	<input type="button" value="+" id="add_more">
	</br>
	</br>
	<button type="submit" class="btn btn-primary" id="submit">Save</button>
	</form>

	<script>

	</script>	
{% endblock %}