{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

{% load staticfiles %}
<script src="{% static 'js/award_templates.js' %}"></script>
<div class = "container">
  <div class="form-group">
    <form method="post"  enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="nomination_instance" class="form-control" placeholder="" value="{{ nomination_instance.id}}" required />
      <div class = "row award_top_margin">
        <div class="col-sm-8">    
          {{ nomination_template.template_name }}
        </div>
      </div> 
      <br>
      {% for question in questions %}
      <div class="form">
        <div class = "row award_top_margin ">
          <div class="col-sm-2">
            <label class="col-form-label" for='{{question.qname}}' >{{question.qname}}</label>
          </div>
          <div class="col-sm-4">
            {% if question.qtype == 'SUBJECTIVE'%}   
              {% if question.nominationanswers_set.count > 0 %}
              <input type="text" name="{{ question.id}}_answer" class="form-control" placeholder="" value="{{ question.nominationanswers_set.first.answer_text }}" required />
              {% else %}
              <input type="text" name="{{ question.id}}_answer" class="form-control" placeholder="" value="" required />
              {% endif %}
            {% else %}
                {% if question.nominationanswers_set.first.answer_text == 'yes' %}
                  <input type="radio" value="yes" name="{{question.id}}_answer_option" checked> Yes   
                  <input type="radio" value="no" name="{{question.id}}_answer_option"> No
                {% else %}
                  <input type="radio" value="yes" name="{{question.id}}_answer_option"> Yes
                  <input type="radio" value="no" name="{{question.id}}_answer_option" checked> No
                {% endif %}
            {% endif %}
          </div>
          {% if question.attachment_need %}
           <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2">
                        <span class="text-danger small"></span>
                    </div>
                    <div class="col-sm-2"><input type="file" name="{{ question.id}}_attachment_path" id="{{ question.id}}_attachment_path"></div>
                </div>
          {% endif %}
        </div> 

      </div>   
      {% endfor %} 
      <input type="hidden" name="submitted_by" class="form-control" placeholder="" value="{{ 1}}" required /> 
      <input type="hidden" name="award_template" class="form-control" placeholder="" value="{{nomination_template.id}}" required /> 
      <div class ="row award_top_margin justify-content-md-center">
        <div class="col-sm-4">
          <button type="button" class="btn btn-danger">Cancel</button>
          <button type="submit" class="btn btn-success" name="action" value="submit">Submit</button>
          <button type="submit" class="btn btn-primary" name="action" value="save">Save</button>
          <!-- <button type="button" class="btn btn-primary"     onclick="location.href='{% url 'nominate_app:store_nomination' nomination_instance.id %}'"
          id="save_form">Save</button> -->
        </div>  
      </div>    
    </form> 
  </div>
</div>
{% endblock %}