{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid" style="padding-left:0px !important;padding-right:0px !important;">
  <div class="header" style="background-image: linear-gradient(to right, #5e7479 , #70e4af5e);color:white;padding:10px 20px;font-size:14px !important;">
        <h5>Dashboard</h5>
  </div>
</div>

    <div class="container" style="padding: 40px;">
            <div class="row">
                <div class="col-md-6">
                    {% include "nominate_app/include/recent_nominations_card.html" %}
                </div>
                <div class="col-md-6">
                    {% include "nominate_app/include/notification_card.html" %}
                </div>
            </div>
        {% if user.userprofile.get_group_name == "admin" %}            
            <div class="row row-pad">
                <div class="col-md-6">
                    {% include "nominate_app/include/awards_card.html" %}
                </div>
                <div class="col-md-6">
                    {% include "nominate_app/include/summary_card.html" %}
                </div>
            </div>          
            <div class="row row-pad">
                <div class="col-sm-12">
                    {% include "nominate_app/include/statistics_card.html" %}
                </div>
            </div>
        {% else %}
            <div class="row row-pad">
                <div class="col-sm-12">
                    {% include "nominate_app/include/my_activities.html" %}
                </div>
            </div>
            <div class="row row-pad">
                <div class="col-sm-12">
                    {% include "nominate_app/include/my_graph.html" %}
                </div>
            </div>            
        {% endif %}
    </div>

    <style>
        .dropdown-item{
            cursor: pointer;
        }
        #graph-container{
            height: 30em;
        }
        .row-pad{
            padding-top:30px;
        }
        .graph-box{
            height:35em;
        }
        .card-body{
            height: 15em;
        }
        table{
            width: 100%;
        }
        .link {
            color: blue;
            cursor: pointer;
        }
        .card-header{   
            padding: .75rem 1.25rem;
            color: white;
            margin-bottom: 0;
            background-image: linear-gradient(to right, #33929c , #3ce1f3);
            background-color: rgba(0,0,0,.03);
            border-bottom: 1px solid rgba(0,0,0,.125);
            font-weight: 700;
            border-radius: 15px 15px 0px 0px !important;
        }
        .card{
            box-shadow: 2px 2px 8px rgba(110,110,110,.5);
            border-radius:15px;
        }

        tr,td{
            padding:10px;

        }
        .tr_body{ font-size:12px;}
        .td_body{ font-size:12px;}
        .table_head{ font-weight: bold;}
        .notifications{
            padding:10px;
            border-bottom:1px solid rgba(232, 232, 232, 0.48)        
            }
    </style>

{% endblock %}
