{% extends  'base.html'%}
{% block content%}
  {% load staticfiles %}
  <script src="{% static 'js/award_templates.js' %}"></script>
  <form id="" method="post" action="">
    {% csrf_token %}
     <h2>{{ award_template.name }}</h2>
    <label>Enabled:</label>
    <select name='is_active' value='{{form.is_active}}'>
      <option value='yes'>yes</option>
      <option value='no'>no</option>
    </select>
    {{ formset.management_form }}
    {% for form in formset %}
        <div class='form_table'>
          {{ form }}
        </div>
    {% endfor %}
    <br>
    <input type="button" id='add_more' name="add_more" value="Add Question" /><br><br>
    <input type="submit" name="submit" value="Submit" />
  </form>
{% endblock %}