{% extends  'base.html'%}
{% block content%}
{% load staticfiles %}
  <script src="{% static 'js/award_templates.js' %}"></script>
  <form id="" method="post" action="">
    {% csrf_token %}
    <h2>{{ template_name }}</h2><br>
    <label>Template Name</label>
    <input type="text" name="template_name" value="{{template_name}}" /><br>
    <label>Enabled:</label>
    <select name='is_active'>
      <option value='yes'>yes</option>
      <option value='no'>no</option>
    </select>
    {{ formset.management_form }}
    {% for form in formset %}
      <div class='formset_table'>
        <label for='{{form.qname}}'>Question name</label>
        {{ form.qname }}
        <label for='{{form.qtype}}'>Question Type</label>
        {{ form.qtype }}
        <label for='{{form.role}}'>Level</label>
        {{ form.role }}
        <label for='{{form.attachment_need}}'>Need Attachment</label>
        {{ form.attachment_need }}
        <span class="del_btn_formset">
          <label for='{{form.DELETE}}'>Delete</label>
          {{ form.DELETE }}
        </span>
      </div>
    {% endfor %}
    <br>
    <input type="button" id='add_more' name="add_more" value="Add Question" /><br><br>
    <input type="submit" name="submit" value="Submit" />
  </form>
  <script>
  </script>

{% endblock %}