{% load staticfiles%}
{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<br>
<div class="container">
	
	<div class="card">
  		<div class="card-body">
            <div class="row">
    		  <div class="col-md-6"><h5 class="card-title">{{instance.user.email}}</h5></div>
              <div class="col-md-6"><h6 class="text-muted">Award:{{instance.nomination.award_template.award.name}}/ Template: {{instance.nomination.award_template.template_name}}</h6></div>
            </div>
    		<h6 class="card-subtitle mb-2 text-muted">Submitted on: {{detail.submitted_at}}</h6>
    		<div class="card-text">
    		{% for answer in detail.answers %}
    			<p>Question: {{answer.question}}</p>
    			<p>Answer: {{answer.answer_text}}</p>
    		{% endfor %}
    		</div>
            <a href="" class="card-link like-count" value = "{{instance.id}}">{% if detail.is_liked %}You and {{ detail.likes_count }} {% else %} {{ detail.likes_count }} {% endif %}liked</a> <br>
            
    		  <a href="" class="card-link like-link" value = "{{instance.id}}">{% if detail.is_liked %}Liked{% else %}Like{% endif %} </a>
              
    		<a href="" class="card-link comment-link" value = "{{instance.id}}">Comments({{ detail.comments_count }})</a>
            <div class="comment-section">
                <form method="POST" class="post-form">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-10">{{ comment_form.text }}</div>
                        <span class="token">{% csrf_token %} </span>
                        <div class="col-md-2"><button type="submit" class="send btn btn-default" value="{{instance.id}}">Send</button></div>
                    </div>
                </form>
                <div class="comment-rows">
                    <!-- from template comment -->
                </div>
            </div>
  		</div>
	</div>
	<hr>
</div>

{% endblock %}