
#navbar_wex {
  min-height: calc(100vh - 50px); /* 54 pixel is the height of your .navbar */
}
#sidebar {
  min-height: 103px;
  background-color: #00b6d5;
}
.award_top_margin{
  margin-top: 7px;
}
.remove_nomination{
  margin-left: 22px;
  margin-top: 9px;
}
.hide_checkbox{
  display: none;
}