
#navbar_wex {
  min-height: calc(100vh - 50px); /* 54 pixel is the height of your .navbar */
}
#sidebar {
  min-height: 103px;
  background-color: #00b6d5;
}
.accordion {
  background-color: #12cdf7;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.abc
{
  font-size: 14px;
  width:90px;
}

.def
{
  font-size: 14px;
  width:500px;
}

.ghi
{
  font-size: 14px;
  width:500px;
  height: 2000px;
}
