.page-content {
  margin: 8px;
}

.header {
  padding: 8px;
  background-color: #1a3d6e;
  background-image: linear-gradient(to right, #5e7479 , #70e4af5e);
  color:white;
  padding:10px 20px;
  font-size:14px !important;
}

#container {
  padding-left:0px !important;
  padding-right:0px !important;
}

#column {
  padding-bottom: 6px; 
  padding-top: 0;
}

#left-arrow {
  color: white;
}

#trash {
  color: #bf1a1a;
}

.was-validated .form-control:valid{
    background-image: none;
    border-color: #ced4da;
  }

.form_det{
    font-size: 24px;
    display: inline;
    color: #d22b2b;
}

.edit_fa{
    font-size: 24px !important;
    color: #2c54c5;
    margin:0px 10px;
    text-decoration: inline;
}

.add-icon{
  border-radius: 110px;
  background: #8a8a8a8f;
  padding: 5px 8px;
  font-size: 10px;
  color: white;
}
}
