.page-content{
    margin: 0px;
    height: 100vh;
}
      
.row {
    margin-right: 0px;
}

.status-body{
    height:100%;
}

.header h1 {
    text-align: center;
    color: white;
}

.instructions {
    text-align: center;
}


.material-icons.clear {
    color: red;
    font-weight: bold;
}

.enddate {
    background-color: transparent;
    border: none;
    padding-left: 0px;
}

.btn-none {
    background-color: transparent;
    border: none;
}

.material-icons.check {
    color: green;
    font-weight: bold;
}

.material-icons.edit {
    color: DodgerBlue;
    font-weight: bold;
}

.user {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.user:nth-child(2) {
    background: #f2f5f8;
}

.user:nth-child(1) {
    background: #D4E4F7;
}

.dropdown-menu-awards {
    width: 100%;
    left: 5px;
}

.form_det {
    font-size: 24px;
    display: inline;
    color: #d22b2b;
}

#caret_icon_container {
    text-align: right;
    font-size: 20px;
}

#award_name_container {
    text-align: left;
}

.edit_fa {
    font-size: 24px !important;
    display: inline;
    color: #2c54c5;
    margin: 0px 10px
}

.container-fluid {
    padding-right: 0px;
}

.add-icon {
    border-radius: 110px;
    background: #8a8a8a8f;
    padding: 5px 8px;
    font-size: 10px;
    color: white;
}

.btn-outline-secondary {
    text-align: left;
    border-radius: 0px;
    box-shadow: 0px 5px 10px #00000036;
    border: 0px;
}

.btn-outline-secondary:focus,
.btn-outline-secondary:hover {
    background: #afbcc7 !important;
}
.fa-envelope:before {

padding-right: .2em;
}
.filter-container {
    margin-top: 1em;
    margin-bottom: 2em;
}

.date-filter-tag {
    padding-top: 0.5em;
}


.template-link-active{
    text-decoration: none;
     color: #3b3b3e;
}

.template-link{
    text-decoration: none;
    color: #68686d;
}

.template_ul li {
    list-style-type: none;
    padding: 20px 10px;
    border-bottom: 1px solid #c2c2c2;
}

.sidenav {
    border-right: 1px solid #c2c2c2;
    box-shadow: 5px 1px 5px rgba(110, 110, 110, 0.3);
}


.template_ul {
    padding: 20px 0px;
}

.nom_content {
    padding: 0px 50px;
}

.fa fa-one-half fa-chevron-down#i-1{
    vertical-align: top;
}



.side-template-nav{
    font-weight: bold;
    text-align: center;
    padding-top:20px;
}

.start-date{
    padding-right:0px;
}

.initial-date{
    padding-left:0px;
}

.end-date{
    padding-right:0px;
}

.final-date{
    padding-left:0px;
}

.edit-end-date {
    margin-left:0.25em;
}

.left-padding {
    padding:0px;
}

.feed {
    cursor: pointer;
     text-decoration: none;
}

.home {
    cursor: pointer;
     text-decoration: none;
}

.email{
    text-align: right;
}

.page{
    justify-content: center;
     font-size: 1.5em;
}
