.page-content {
  margin: 8px;
}

.header {
  padding: 8px;
  background-color: #1a3d6e;
}

.header h1 {
  text-align: center;
  color: white;
}

.instructions {
  text-align: center;
}

table {
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: 0;
  width: 100%
}


.row{
  margin-right: 0px;
}


table td {
  padding: 8px 0px 8px 0px;
  border-top: 1px solid #ddd;
}

.material-icons.clear {
  color: red;
  font-weight: bold;
}
.enddate{
  background-color: transparent;
  border:none;
  padding-left: 0px;
  text-decoration: underline; 
  }
.btn-none{
  background-color: transparent;
  border:none;
    
}
.material-icons.check {
  color: green;
  font-weight: bold;
}

.material-icons.edit {
  color: DodgerBlue ;
  font-weight: bold;
}
.user{
  padding-top:5px;
  padding-bottom:5px;
  padding-right:20px;
  padding-left:20px;
}
.user:nth-child(2){
  background: #f2f5f8;
}
.user:nth-child(1){    
  background: #D4E4F7;
}

.dropdown-menu-awards{
  width: 100%;
  left:5px;
}

.form_det{
  font-size: 24px;
  display: inline;
  color: #d22b2b;
}
#caret_icon_container{
  text-align: right;
  font-size: 20px;
}
#award_name_container{
  text-align: left;
}
.edit_fa{
  font-size: 24px !important;
  display: inline;
  color: #2c54c5;
  margin:0px 10px
}

.container-fluid{
  padding-right: 0px;
}

.add-icon{
  border-radius: 110px;
  background: #8a8a8a8f;
  padding: 5px 8px;
  font-size: 10px;
  color: white;
}

.btn-outline-secondary{
  text-align: left;
  border-radius: 0px;
  box-shadow: 0px 5px 10px #00000036;
  border: 0px;
}
.btn-outline-secondary:focus,.btn-outline-secondary:hover{
  background: #afbcc7 !important;
}

.filter-container{
  margin-top: 1em;
  margin-bottom: 2em;
}
.date-filter-tag{
  padding-top: 0.5em;
}

.template_ul li{
  list-style-type: none;
  padding: 20px 10px;
  border-bottom:1px solid #c2c2c2;
}

.sidenav{
  border-right: 1px solid #c2c2c2;
  box-shadow: 5px 1px 5px rgba(110,110,110,0.3);
}

.template_ul li a{
  padding: 40px 0px;
  color: #68686d;
}


.template_ul{
  padding:20px 0px;
}

.nom_content{
  padding: 0px 50px;
}

.container-fluid#div-1{
    padding-left:0px !important;
    padding-right:0px !important;
}

.header#div-2{
    background-image: linear-gradient(to right, #5e7479 , #70e4af5e);
    color:white;
    padding:10px 20px;
    font-size:14px !important;
}

.fa fa-one-half fa-chevron-down#i-1{
    vertical-align: top;
}

.row#div-3{
    justify-content: center;
     font-size: 1.5em;
}

#top-nav {
    padding-left:0px !important;
    padding-right:0px !important;
}