.dropdown-menu-awards {
    width: 100%;
    left: 5px;
}
    
.btn-outline-secondary {
    text-align: left;
    border-radius: 0px;
    box-shadow: 0px 5px 10px #00000036;
    border: 0px;
}
    
.btn-outline-secondary:focus,
.btn-outline-secondary:hover {
    background: #afbcc7 !important;
}
    
#caret_icon_container {
    text-align: right;
    font-size: 20px;
}

.was-validated .form-control:valid {
    background-image: none;
    border-color: #ced4da;
}

.top {
    padding-left:0px !important;
    padding-right:0px !important;
}

#row{
    margin:0px;
}

.down-arrow{
    vertical-align: top;
}

.left-arrow {
    color: white;
}

.edit_fa{
     font-size: 24px !important;
    color: #2c54c5;
    margin:0px 10px;
    text-decoration: inline;
}

.form_det{
      font-size: 24px;
    display: inline;
    color: #d22b2b;
}

.col-10{
    padding-bottom: 6px;
     padding-top: 0;
}
