
{% block content %}
	<span class = "instance_id_span" style="display:none">{{ instance.id }}</span>
    {% if comments.has_next %}
    	<a class="more-comments" href="" value="{{ comments.next_page_number }}" style="padding: 0px 0px 20px 0px;display: block;">view more comments</a>
    {% endif %}
    {% for comment in comments %}
        <div class="comment row" style="border-bottom:1px solid #e8e8e8;padding:10px 0px;">
            <div class="col-md-10">
                <span>{{ comment.author.first_name }} {{ comment.author.last_name }}</span>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
            <div class="date col-md-2">
                <span class="text-muted" style="font-size:12px;">{{ comment.format_date }}</span>
                {% if user == comment.author %}
                    <a class="btn btn-default comment-delete" value="{{ comment.id }}" href=""><span class="glyphicon glyphicon-remove"></span><i class="fa fa-trash" style="color:red;"></i></a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

<script>



</script>
                    