{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

{% load staticfiles %}
<style>
.hidden{
  visibility:hidden;
}
</style>
<script>
  $(document).ready(function(){
    $("#submit_button").on("click", function(event){
      validate_checkbox(event)
    });
    $("#save_button").on("click", function(event){
      validate_checkbox(event)
  });
  $('.multichoice-option').on('change', function(){
    
    if($(this).attr("checked")){
      $(this).removeAttr("checked")
    }else{
      $(this).attr("checked", "checked")
    }
  })
  function validate_checkbox(event){
    $('.checkbox-container').map(function(){

      flag = false
      $(this).children().toArray().forEach(element => {
        if($(element).attr("checked")){
          flag = true
        }
      });
      if(!flag){
        event.preventDefault()
        $(this).find('.hidden').removeClass('hidden')
      }
    });
  }
  });
</script>
<div class = "container">
  <div class="header" style="background-image: linear-gradient(to right, #5e7479 , #70e4af5e);color:white;padding:10px 20px;font-size:14px !important;">
      <h5>
        <a href="{% url 'nominate_app:nominations'  %}" class="pull-left mr-4"><i class="fa fa-chevron-left" style="color: white;"></i></a>
        {{ nomination_submitted.template_name.capitalize }}
  
      </h5>
  </div>
  <div class="form-group">
    <form method="post"  enctype="multipart/form-data" action="/nominations/{{nomination.id}}/nomination_instances/">
      {% csrf_token %}
      <input type="hidden" name="nomination_instance" class="form-control" placeholder="" value="{{ nomination_instance.id}}" required />
      <br>
      {% for question in questions %}
      <div class="form">
        <div class = "row award_top_margin ">
          <div class="col-sm-2">
            <label class="col-form-label" for='{{question.qname}}' >{{question.qname}}</label>
          </div>
          <div class="col-sm-4">
            {% if question.qtype == 'SUBJECTIVE'%}   
              {% if question.nominationanswers_set.count > 0 %}
              <input type="text" name="{{ question.id }}_answer" class="form-control" placeholder="" value="{{ answers|get_item:question.id }}" required />
              {% else %}
              <input type="text" name="{{ question.id }}_answer" class="form-control" placeholder="" value="" required />
              {% endif %}
            {% endif %}
            {% if question.qtype == 'OBJECTIVE' %}
                {% for option in question.options %}
                  {% if option in answers|get_item:question.id %}
                    <input type="radio" value="{{ option }}" name="{{question.id}}_answer_option" checked> {{ option }}   
                  {% else %}
                    <input type="radio" value="{{ option }}" name="{{question.id}}_answer_option"> {{ option }}   
                  {% endif %}
                {% endfor %}
            {% endif %}

            {% if question.qtype == 'MULTIPLE-CHOICE' %}
              <div class="checkbox-container">
                {% for option in question.options %}
                  {% if option in answers|get_item:question.id %}
                    <input type="checkbox" value="{{ option }}" class="multichoice-option" name="{{question.id}}_answer_option" checked> {{ option }}   
                  {% else %}
                    <input type="checkbox" value="{{ option }}" class="multichoice-option" name="{{question.id}}_answer_option" > {{ option }}   
                  {% endif %}
                {% endfor %}
                <div class="alert alert-danger hidden">
                  Select atleast one option.
                </div>
              </div>
            {% endif %}
          </div>
          {% if question.attachment_need %}
           <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2">
                        <span class="text-danger small"></span>
                    </div>
                    <div class="col-sm-2"><input type="file" name="{{ question.id}}_attachment_path" id="{{ question.id}}_attachment_path"></div>
                </div>
          {% endif %}
        </div> 

      </div>   
      {% endfor %} 
      <input type="hidden" name="submitted_by" class="form-control" placeholder="" value="{{ 1}}" required /> 
      <input type="hidden" name="award_template" class="form-control" placeholder="" value="{{nomination_template.id}}" required /> 
      <div class ="row award_top_margin justify-content-md-center">
        <div class="col-sm-4">
          <button type="button" class="btn btn-danger">Cancel</button>
          <button type="submit" class="btn btn-success" id="submit_button" name="action" value="submit">Submit</button>
          <button type="submit" class="btn btn-primary" id="save_button" name="action" value="save">Save</button>
        </div>  
      </div>    
    </form> 
  </div>
</div>
{% endblock %}