{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}

<link href="{% static 'css/nomination_instances.css' %}" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<div class="container">
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div id="accordion-todo_nominations">
        <div class="card">
          <div class="card-header" data-toggle="collapse" href="#collapseThree-todo_nominations">
            <a class="collapsed card-link" >
            Submit Nominations
            </a>
          </div>
          <div id="collapseThree-todo_nominations" class="collapse show" data-parent="#accordion">
            <div class="card-body">
              <div class="container">
                {% if todo_nomination_chains %}
                 {% for nomination_chain in todo_nomination_chains %}
                    <form>
                      <table class="table table-borderless">
                        <tbody>
                            <tr class="d-flex">
                              <td class="col-10" > {{ nomination_chain.nomination_instance.award_template }} </td>
                              <td class="col-2" ><input input onclick="location.href='{% url 'nominate_app:create_nomination' nomination_chain.id %}'" type="button" class="btn btn-success" value = "Submit Nomination"></td>
                            </tr>
                        </tbody>
                      </table>
                    </form>
                  {% endfor %}
                {% else %}
                  No Nomination instances available.
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="accordion-saved_nominations">
        <div class="card">
          <div class="card-header" data-toggle="collapse" href="#collapseThree-todo_nominations">
            <a class="collapsed card-link" >
            Saved Nominations
            </a>
          </div>
          <div id="collapseThree-todo_nominations" class="collapse show" data-parent="#accordion">
            <div class="card-body">
              <div class="container">
                {% if saved_nominations %}
                 {% for nomination_chain in saved_nominations %}
                    <form>
                      <table class="table table-borderless">
                        <tbody>
                            <tr class="d-flex">
                              <td class="col-10" > {{ nomination_chain.nomination_instance.award_template }} </td>
                              <td class="col-2" ><input input onclick="location.href='{% url 'nominate_app:create_nomination' nomination_chain.id %}'" type="button" class="btn btn-success" value = "Submit Nomination"></td>
                            </tr>
                        </tbody>
                      </table>
                    </form>
                  {% endfor %}
                {% else %}
                  No Nomination instances available.
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="accordion-done_nominations">
        <div class="card">
          <div class="card-header" data-toggle="collapse" href="#collapseThree-done_nominations">
            <a class="collapsed card-link" >
            Submitted Nominations
            </a>
          </div>
          <div id="collapseThree-done_nominations" class="collapse show" data-parent="#accordion">
            <div class="card-body">
              <div class="container">
                {% if done_nominations %}
                  {% for nomination_chain in done_nominations %}
                    <form>
                      <table class="table table-borderless">
                        <tbody>
                            <tr class="d-flex">
                              <td class="col-10" > {{ nomination_chain.nomination_instance.award_template }} </td>
                              <td class="col-2" ><input input onclick="location.href='{% url 'nominate_app:view_nomination' nomination_chain.id %}'" type="button" class="btn btn-success" value = "View Nomination"></td>
                            </tr>
                        </tbody>
                      </table>
                    </form>
                  {% endfor %}
                {% else %}
                  No submitted nominations available.
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div id="accordion">
        <div class="card">
          <div class="card-header" data-toggle="collapse" href="#collapseThree">
            <a class="collapsed card-link" >
              Submit Nominations
            </a>
          </div>
          <div id="collapseThree" class="collapse show" data-parent="#accordion">
            <div class="card-body">
              <div class="container">
                No Nomination instances available.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
