{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

{% load staticfiles %}

<div class="header" style="background-image: linear-gradient(to right, #5e7479 , #70e4af5e);color:white;padding:10px 20px;font-size:14px !important;">
    <h5>
      <a href="{% url 'nominate_app:nominations'  %}" class="pull-left mr-4"><i class="fa fa-chevron-left" style="color: white;"></i></a>
      {{ nomination_submitted.template_name.capitalize }}

    </h5>
</div>


<div class = "container">
  <div class="form-group">
      {% csrf_token %}
      <br>
      {% for qa in question_answerset %}
      <div class="form">
        <div class = "row award_top_margin ">
          <div class="col-sm-2">
            <label class="col-form-label" for='{{qa.question}}' >{{qa.question}}</label>
          </div>
          <div class="col-sm-4">
            {% if qa.answer %}   
              <input type="text" name="answer_text" class="form-control" placeholder="" value="{{qa.answer}}" disabled />
            {% else %}
            {% endif %}
            {% if answer.attachment_path %}   
              <img src="{{answer.attachment_path.url}}" alt="answer option" height="310" width="310" />
            {% endif %}
          </div>

        </div> 

      </div>   
      {% endfor %} 

  </div>
</div>
{% endblock %}