{% extends 'base.html' %}

{% block content %}
	<form method = "POST">
		{% csrf_token %}
		{{ formset.management_form }}
		{% for form in formset.forms %}
			<div class='table'>
    		<table class='no_error'>
        		{{ form }}
    		</table>
    		</div>
		{% endfor %}
	<input type="button" value="+" id="add_more">
	</br>
	</br>
	<button type="submit">Save</button>
	</form>
	<script>
	    $('#add_more').click(function() {
	    	console.log("in checkbox click")
	        cloneMore('div.table:last', 'form');
	    });
	    // $('#del_form').click(function() {
	    // 	console.log("in checkbox click")
	    //    $('#div.table:last', 'form').hide();
	    // });
	    $(document).on('change', '[type=checkbox]', function(event) {
			// console.log("in checkbox click")
			event.preventDefault();
			// debugger
			var checkboxId = event.target.id;
			var vall = Number($('#'+checkboxId).next('input')[0].value);
			par_table = $('#'+checkboxId).closest('.no_error');
			par_table.hide();
			// debugger
			$.ajax({

				// url:`/nominate/bee/delete/${vall}/`,
				url:'/bee/delete/' + vall + '/',
				type:'POST',
				data:{
					csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
				},
				dataType: 'json',
				success:function(){

				}
			});
			
		}); 
	   	function cloneMore(selector, type) {
		    var newElement = $(selector).clone(true);
		    var total = $('#id_' + type + '-TOTAL_FORMS').val();
		    newElement.find(':input').each(function() {
		        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
		        var id = 'id_' + name;
		        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
		    });
		    newElement.find('label').each(function() {
		        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
		        $(this).attr('for', newFor);
		    });
		    total++;
		    $('#id_' + type + '-TOTAL_FORMS').val(total);
		    $(selector).after(newElement);
		}
	</script>
{% endblock %}