{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load staticfiles %}

<script src="{% static 'js/edit_award.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/awards.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- header -->
<div class="header">
  <h5>
    <a href="{% url 'nominate_app:awards' %}" class="pull-left mr-4"><i class="fa fa-chevron-left" id="left-arrow"></i></a>
    Editing Award {{award.name}}
    <div class="custom-control custom-switch pull-right">
      {{ award_form.is_active|attr:"class:custom-control-input" |attr:"id=customSwitch1"  }}
      <label class="custom-control-label" for="customSwitch1" ></label>
    </div>
  </h5>
</div>

<div class = "container">
   <div class="form-group">
      <form action="/awards/{{award.id}}/" method="post">
         <input type="hidden" name="_method" value="put">
         
         {% csrf_token %}
         
         <div class = "row award_top_margin">
            <div class="col-md-2">
               <label class="col-form-label" for="name">Award Name</label>
            </div>
            <div class="col-md-8">
               <input type="text" name="name" class="form-control" value="{{  award.name }}" />
            </div>
         </div>

         <div class = "row award_top_margin">
            <div class="col-md-2">
               <label class="col-form-label" for="name">Frequency</label>
            </div>
            <div class="col-md-8">
               <select class="form-control" id="exampleSelect1" name="frequency" required>
                  {% for k, v in frequencies %}
                  {% if k == award.frequency %}
                  <option selected="selected" value="{{ k }}">{{ v }}</option>
                  {% else %}
                  <option value="{{ k }}">{{ v }}</option>
                  {% endif %}
                  {% endfor %}
               </select>
            </div>
         </div>

         <div class = "row award_top_margin">
            <div class="col-md-2">
               <label class="col-form-label" for="name">Description</label>
            </div>
            <div class="col-md-8">
               <textarea class="form-control descript" rows="5" name="description">{{ award.description }}</textarea>  	
            </div>
         </div>

         {{ formset.management_form }}
         {% for form in formset.forms %}
         <div class = "row award_top_margin add_nomination_period">
            {{ form.id }}
            <div class="col-md-2 mt-4">
              <label class="col-form-label" for="name">Period</label>
            </div>

            <div class="col-md-8">
              <div class ="row">

                <div class="col-md-4">
                    <label class="col-form-label">Group</label>
                    {{ form.group|attr:"class:form-control" }}
                </div>

                <div class="col-md-4">
                    <label class="col-form-label" for="name">Start Date</label>
                        {{ form.start_day|attr:"class:form-control datepicker" }}
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                </div>
               
                <div class="col-md-4">
                    <label class="col-form-label" for="name">End Date</label>	
                          {{ form.end_day|attr:"class:form-control datepicker" }}
                          <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                </div>

              </div>
            </div>
            
            <div class="mt-4">
              <span class="fa del_btn_formset remove_nomination">
                <label><span class="fa fa-trash-o fa-lg" id="trash">
                 {{ form.DELETE | attr:"class:hide_checkbox"}}
                </span>
                </label>
              </span>
            </div>

          </div>
          {% endfor %} 	

        <div class = "row award_top_margin">
          <div class="col-md-3">
              <button name="add_more" id="add_more" type="button" class="btn btn-outline-primary ml-1 add_more"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Add Period</button>
          </div>
        </div> 

         <div class ="row award_top_margin justify-content-md-center">
            <div class="col-sm-4">
               <a type="button" class="btn btn-danger" href="{% url 'nominate_app:awards' %}">Cancel</a>
               <button type="submit" class="btn btn-success">Update</button>
            </div>
         </div>
      </form>
   </div>
</div>

{% endblock %}

