{% extends 'base.html' %}
{% block content %}

<style>
.page-content {
  margin: 8px;
}

.header {
  padding: 8px;
  background-color: #1a3d6e;
}

.header h1 {
  text-align: center;
  color: white;
}

.instructions {
  text-align: center;
}

table {
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: 0;
  width: 100%
}

table thead th {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

table tr.selected {
  background-color: #ddd;
}

table td {
  padding: 8px;
  border-top: 1px solid #ddd;
}

table td .edit {
  cursor: pointer;
}

.material-icons.clear {
  color: red;
  font-weight: bold;
}

.material-icons.check {
  color: green;
  font-weight: bold;
}

.material-icons.edit {
  color: DodgerBlue ;
  font-weight: bold;
}

@media screen and (max-width: 650px) {
    table thead {
    border: none;
    height: 0px;
    width: 0px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }
  
  table tr {
    border: 2px solid #ddd;
    border-radius: 8px;
    display: block;
    margin-bottom: 0.5em;
  }
  
  table tr.selected {
    background-color: white;
    border-color: DodgerBlue;
  }
  
  table td {
    border-top: none;
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
    clear: both;
  }
  
  table td.row-function {
    display: inline;
    border: none;
    clear: none;
  }
  
  table tr td:last-child {
    border-bottom: none;
  }
  
  table tr td.row-function:nth-child(1) {
    float: left;
  }
  
    table tr td.row-function:nth-child(2) {
    float: right;
  }
  
  table td.row-function::before {
    content: none;
  }
  
  table td::before {
  /*
  * aria-label has no advantage, it won't be read inside a table
  content: attr(aria-label);
  */
  content: attr(data-label);
  float: left;
  font-weight: bold;
  }
}

.form_det{
    font-size: 24px;
    display: inline;
    color: #d22b2b;
}

.edit_fa{
    font-size: 24px !important;
    display: inline;
    color: #2c54c5;
    margin:0px 10px
}

.add-icon{
  border-radius: 110px;
  background: #8a8a8a8f;
  padding: 5px 8px;
  font-size: 10px;
  color: white;
}
}

</style>

<script>
var rows = document.querySelectorAll("[data-rowid]");
var selectInputCellWrappers = document.getElementsByClassName('row-selection');

function getInputsOfType(inputsArray, type) {
  return Array.prototype.filter.call(inputsArray, function(input) {
    return input.type.toLowerCase() === type.toLowerCase();
  });
}

var selectInputs = Array.prototype.map.call(rows, function(row) {
  return getInputsOfType(row.getElementsByTagName('input'), 'checkbox')[0];
});

function getSelectedRowId(child) {
  var tableRows = document.getElementsByTagName('TR');
  var selectedRow = Array.prototype.filter.call(tableRows, function(tableRow) {
    return tableRow.contains(child);
  })[0];
  
  return selectedRow.dataset.rowid;
}

function handleSelectCellClick(event) {
  var selectedRowId;
  
  if (event.target.tagName.toLowerCase() === "input") {
    selectedRowId = getSelectedRowId(Array.prototype.filter.call(selectInputCellWrappers, function(cell) {
      return cell.contains(event.target);
    })[0]);
  } else {
    selectedRowId = getSelectedRowId(event.target);
  }
  
  var selectedRow = document.querySelectorAll("[data-rowid='" + selectedRowId + "']")[0];
  var selectedRowCheckbox = getInputsOfType(selectedRow.getElementsByTagName('input'), 'checkbox')[0];
  
  if (event.target.checked == undefined) {
    
    if (selectedRowCheckbox.checked === true) {
      selectedRowCheckbox.checked = false;
      selectedRow.classList.remove('selected');
    } else {
      console.log("select");
      selectedRowCheckbox.checked = true;
      selectedRow.classList.add('selected');
    }
  } else {
    if (event.target.checked) {
      selectedRow.classList.add('selected');
    } else {
      selectedRow.classList.remove('selected');
    }
  }
}


// Prevent the checkbox from preforming its on check, we will control this.
function checkboxClick(event) {
  // event.preventDefault();
  return false;
}

</script>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" style="padding-left:0px !important;padding-right:0px !important;">


<div class="header" style="linear-gradient(to right, #9a0434 , #5f1d28);color:white;padding:10px 20px;font-size:14px !important;">
  <h5>Awards <a href="{% url 'nominate_app:new_award' %}" class="pull-right"><i class="fa fa-plus add-icon"></i></a></h5>
</div>
<div class="page-content">
<table>
  <thead>
    <tr>
      <th scope='col'></th>
      <th scope="col">Name</th>
      <th scope="col">Number of Templates</th>
      <th scope="col">Status</th>
      <th scope="col">Created at</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for form in forms %}
    <tr data-rowId={{form.id}}>
      <td scope="row" data-label="Select" class="row-function row-selection" onclick="handleSelectCellClick(event);"><input type="checkbox" onclick="checkboxClick(event);"/></td>
      <td scope="row" data-label="Name"><a href="{% url 'nominate_app:award' form.id %}">{{form.name}}</a></td>
      <td scope="row" data-label="Templates"><a href="{% url 'nominate_app:award_templates_index' form.id%}">{{form.awardtemplate_set.count}}</a></td>
      <td scope="row" data-label="Status">{{form.is_active}}</td>
      <td scope="row" data-label="Created at">{{form.created_at|date:'d-m-Y'}}</td>
      <td scope="row" data-label="Actions">
        <a href="{% url 'nominate_app:edit_award' form.id %}"><i class="fa fa-edit edit_fa"></i></a>      
        <form action="{% url 'nominate_app:award' form.id %}" method="post" id="form_{{form.id}}" class="form_det">
          {% csrf_token%}
          <input type="hidden" name="_method" value="delete">
          <i class="fa fa-trash" type="submit" value="Delete" onclick='$("#form_{{form.id}}").submit()'></i>
        </form>
      </td>
      </tr>
      {% empty %}
        <tr class="d-flex">
          <td class="col-10" style="padding-bottom: 6px; padding-top: 0;"> No Awards Found </td>
        </tr>
      {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}





