{% extends 'base.html' %}
{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<h1 align="center" class="text-info">Awards</h1>
<div class="container">
<div class="form-group">
  <div class = "row award_top_margin">
    <div class="col-sm-12">
      <input input onclick="location.href='{% url 'nominate_app:new_award' %}'" type="button" class="btn btn-success float-sm-right" value = "Create New Award">
    </div>
  </div>
</div>
<div id="accordion">
  <div class="card">
    <div class="card-header" data-toggle="collapse" href="#collapseThree">
      <a class="collapsed card-link" >
      Awards
      </a>
    </div>
    <div id="collapseThree" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        <div class="container">
            <table class="table table-borderless">
              <tbody>
                {% for form in forms %}
                  <tr class="d-flex">
                    <td class="col-9" style="padding-bottom: 6px; padding-top: 0;"> {{ form.name }} </td>
                    <td class="col-1" style="padding-bottom: 6px; padding-top: 0;"><input onclick="location.href='{% url 'nominate_app:award' form.id %}'" type="button" class="btn btn-success" value = "View"></td>
                    <td class="col-1" style="padding-bottom: 6px; padding-top: 0;"><input onclick="location.href='{% url 'nominate_app:edit_award' form.id %}'" type="button" class="btn btn-info" value = "Edit"></td>
                    <td class="col-1" style="padding-bottom: 6px; padding-top: 0;">
                    <form action="{% url 'nominate_app:award' form.id %}" method="post">
                      {% csrf_token%}
                      <input type="hidden" name="_method" value="delete">
                      <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                  </tr>
                {% empty %}
                  <tr class="d-flex">
                    <td class="col-10" style="padding-bottom: 6px; padding-top: 0;"> No Awards Found </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
