{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/data_table.css' %}">
<link rel="stylesheet" href="{% static 'css/awards.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


<div class="container-fluid" id="container">
  <div class="header">
        <h5>Award <a href="{% url 'nominate_app:new_award'%}" class="pull-right"><i class="fa fa-plus add-icon"></i></a></h5>
    </div>
</div>

<div class="page-content">
<table>
  <thead>
    <tr>
      <th scope='col'></th>
      <th scope="col">Name</th>
      <th scope="col">Number of Templates</th>
      <th scope="col">Status</th>
      <th scope="col">Created at</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for form in forms %}
    <tr data-rowId={{form.id}}>
      <td></td>
      <td scope="row" data-label="Name"><a href="{% url 'nominate_app:award' form.id %}">{{form.name}}</a></td>
      <td scope="row" data-label="Templates"><a href="{% url 'nominate_app:award_templates_index' form.id%}">{{form.awardtemplate_set.count}}</a></td>
      <td scope="row" data-label="Status">{{form.is_active}}</td>
      <td scope="row" data-label="Created at">{{form.created_at|date:'d-m-Y'}}</td>
      <td scope="row" data-label="Actions">
        <a href="{% url 'nominate_app:edit_award' form.id %}"><i class="fa fa-edit edit_fa"></i></a>      
        <form action="{% url 'nominate_app:award' form.id %}" method="post" id="form_{{form.id}}" class="form_det">
          {% csrf_token%}
          <input type="hidden" name="_method" value="delete">
          <i class="fa fa-trash" type="submit" value="Delete" onclick="return clicked();"></i>
        </form>
      </td>
      </tr>

<script type="text/javascript">
  function clicked() {
     if (confirm('Are you sure?')) {
           $("#form_{{form.id}}").submit();
       } else {
           return false;
       }
  }
</script>

      {% empty %}
        <tr class="d-flex">
          <td class="col-10" id="column" > No Awards Found </td>
        </tr>
      {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}