{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load staticfiles %}
<script src="{% static 'js/award_creation.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/awards.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">

<!-- header -->
<div class="header">
  <h5>
    <a href="{% url 'nominate_app:awards' %}" class="pull-left mr-4"><i class="fa fa-chevron-left back-nav"></i></a>
    Create a New Award
    <div class="custom-control custom-switch pull-right">
      {{ award_form.is_active|attr:"class:custom-control-input"|attr:"id:customSwitch1" }}
      <label class="custom-control-label" for="customSwitch1" ></label>
    </div>
  </h5>
</div>

<div class = "container">
   <div class="form-group">
      <form method = "post" action="/awards/" id="needs-validation">
        {% csrf_token %}
          
        <div class = "row award_top_margin">
          <div class="col-md-2">
            <label class="col-form-label" for="name">Award Name</label>
          </div>
          <div class="col-md-8">
             <input type="text" name="name" class="form-control" placeholder="Enter award name" value="" required />
             <div class="invalid-feedback">
                Please provide a award name.
             </div>
          </div>
        </div>

        <div class = "row award_top_margin">
          <div class="col-md-2">
            <label class="col-form-label" for="name">Frequency</label>
          </div>
          <div class="col-md-8">
              <select class="form-control" id="exampleSelect1" name="frequency" required>
                {% for k, v in frequencies %}
                {% if k == "" %}
                  <option selected="selected" value="{{ k }}">{{ v }}</option>
                {% else %}
                  <option value="{{ k }}">{{ v }}</option>
                  {% endif %}
                  {% endfor %}
              </select>
              <div class="invalid-feedback">
                Please provide frequency.
              </div>
          </div>
        </div>

        {{ formset.management_form }}
         {% for form in formset.forms %}
        <div class = "row award_top_margin add_nomination_period">
            <div class="col-md-2">
                  <label class="col-form-label mt-4" for="name">Period</label>
            </div>

            <div class="col-md-8">
              <div class="row">
                <div class="col-md-4">
                      <label class="col-form-label" for="">Group</label>
                      {{ form.group|attr:"class:form-control" }}
                </div>
            
                <div class="col-md-4">
                      
                      <label class="col-form-label" for="">Start Date</label>
                            {{ form.start_day|attr:"class:form-control datepicker" }}
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                            </span>

                </div>
            
                <div class="col-md-4">
                    <label class="col-form-label" for="name">End Date</label>	
                    
                        {{ form.end_day|attr:"class:form-control datepicker" }}
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                </div>
                
              </div>
          </div>
        
          <div class="mt-4">
            <span class="fa del_btn_formset">
              <label><span class="fa fa-trash-o fa-lg" id="trash">
               {{ form.DELETE | attr:"class:hide_checkbox"}}
              </span>
              </label>
            </span>
          </div>

      </div>

         {% endfor %} 	
        <div class = "row award_top_margin">
            <div class="col-md-3">
              <button name="add_more" id="add_more" type="button" class="btn btn-outline-primary ml-1 add_more"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Add Period</button>
            </div>
        </div> 

<!--          <div class = "row award_top_margin">
          <div class="col-md-3">
               <i class="fa fa-plus-circle fa-2x add_more col-md-2 offset-2" aria-hidden="true"></i>
          </div>
         </div> -->

        <div class ="row award_top_margin">
          <div class="col-md-2"> 
            <label class="col-form-label" for="name">Description</label>	
          </div>
          <div class="col-md-8"> 
            <textarea class="form-control" rows="5" id="comment" name="description"></textarea>	
          </div>
        </div>          
         <div class ="row award_top_margin justify-content-md-center">
            <div class="col-md-4">
               <a type="button" class="btn btn-danger" href="{% url 'nominate_app:awards' %}">Cancel</a>
               <button type="submit" class="btn btn-success">Save</button>
            </div>
         </div>
      </form>
   </div>
</div>

{% endblock %}