{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load staticfiles %}
<script src="{% static 'js/edit_award.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/awards.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">

<!-- header -->
<div class="header">
  <h5>
    <a href="{% url 'nominate_app:awards' %}" class="pull-left mr-4"><i class="fa fa-chevron-left back-nav"></i></a>
    Award - {{ award.name }}
    <div class="custom-control custom-switch pull-right">
      {{ award_form.is_active|attr:"class:custom-control-input"|attr:"id:customSwitch1" }}
      <label class="custom-control-label" for="customSwitch1" ></label>
    </div>
  </h5>
</div>

<div class = "container">
   <div class="form-group">
         </br>
        
         <div class = "row award_top_margin">
            <div class="col-sm-2">
               <label class="col-form-label" for="name">Award Name</label>
            </div>
            <div class="col-sm-8">  	
               {{  award.name }}
            </div>
         </div>
         <div class = "row award_top_margin">
            <div class="col-sm-2">
               <label class="col-form-label" for="name">Frequency</label>
            </div>
            <div class="col-sm-3">
              {{award.frequency}}
            </div>
         </div>
         <div class = "row award_top_margin">
            <div class="col-sm-2">
               <label class="col-form-label" for="name">Description</label>
            </div>
            <div class="col-sm-6">
               {{ award.description }}  	
            </div>
         </div>

         <br>	

   </div>
</div>

{% endblock %}

