<div class="card">
    <div class="card-header" style="font-size: 1.08em;font-weight: 300;border-radius:0px !important;border-bottom: 0px;padding: 0.75rem;">
        Recent Nominations
    </div>
    <div class="card-body" style="padding:0px;">
        <table class="table table-striped">
            <thead>
                <tr scope="col">
                    <td>
                        Award 
                    </td>
                    <td>
                        Template 
                    </td>
                    <td>
                        {% if user.userprofile.get_group_name == "admin" %}
                            End Date
                        {% else %}
                            Status
                        {% endif %}
                    </td>
                    <td>
                        Group
                    </td>
                    
    
                </tr>
            </thead>
            <tbody>
                {% for nomination in recent_nominations %}
                    {% if user.userprofile.get_group_name == "admin" %}
                        <tr class="tr_body" onclick='location.href="{% url 'nominate_app:nomination_status' %}?award_name={{nomination.award}}&template_name={{nomination.template}}"' style="cursor:pointer;">
                    {% else %}
                        <tr class="tr_body" onclick='location.href="{% url 'nominate_app:nomination_status_index' status_value=nomination.status %} "' style="cursor:pointer;">
                    {% endif %}
                            
                            <td class="td_body">
                                {{ nomination.award }}
                            </td>
                            <td class="td_body">
                                {{ nomination.template }}
                            </td>
                            <td class="td_body">
                                {% if user.userprofile.get_group_name == "admin" %}
                                    {{ nomination.end_day }}
                                {% else %}
                                    {{ nomination.status }}
                                {% endif %}
                            </td>
                            <td class="td_body">
                                {{ nomination.group }}
                            </td>
                            
                        
                        </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" style="font-size: 15px"> No awards and award templates found. Please create a <a href="{% url 'nominate_app:awards' %}">award </a> and
                            <a href="{% url 'nominate_app:award_templates_home' %}"> award template.</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>