<div class="card">
    <div class="card-header">
        Recent Nominations
    </div>
    <div class="card-body">
        <table>
            <thead>
                <tr class="tr_body table_head">
                    <td class="td_body table_head">
                        Award 
                    </td>
                    <td class="td_body table_head">
                        Template 
                    </td>
                    <td class="td_body table_head">
                        {% if user.userprofile.get_group_name == "admin" %}
                            End Date
                        {% else %}
                            Status
                        {% endif %}
                    </td>
                    <td class="td_body table_head">
                        Group
                    </td>
                    
    
                </tr>
            </thead>
            <tbody>
                {% for nomination in recent_nominations %}
                    {% if user.userprofile.get_group_name == "admin" %}
                        <tr class="link tr_body" onclick='location.href="{% url 'nominate_app:nomination_status' %}?award_name={{nomination.award}}&template_name={{nomination.template}}"'>
                    {% else %}
                        <tr class="link tr_body" onclick='location.href="{% url 'nominate_app:nomination_status_index' status_value=nomination.status %} "'>
                    {% endif %}
                            
                            <td class="td_body">
                                {{ nomination.award }}
                            </td>
                            <td class="td_body">
                                {{ nomination.template }}
                            </td>
                            <td class="td_body">
                                {% if user.userprofile.get_group_name == "admin" %}
                                    {{ nomination.end_day }}
                                {% else %}
                                    {{ nomination.status }}
                                {% endif %}
                            </td>
                            <td class="td_body">
                                {{ nomination.group }}
                            </td>
                            
                        
                        </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" style="font-size: 15px"> No awards and award templates found. Please create a <a href="{% url 'nominate_app:awards' %}">award </a> and
                            <a href="{% url 'nominate_app:award_templates_home' %}"> award template.</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>