<div class="card">
        <div class="card-header">
            Summary
        </div>
        <div class="card-body">
            <table>
                <tbody>
                    <tr class="tr_body">
                        <td class="td_body table_head">
                            Awards
                        </td>
                        <td class="td_body">
                            {{ summary.awards }}
                        </td>
                    </tr>
                    <tr class="tr_body">
                        <td class="td_body table_head">
                            Approved
                        </td>
                        <td class="td_body">
                            {{ summary.approved }}
                        </td>
                    </tr>
                    <tr class="tr_body">
                        <td class="td_body table_head">
                            Declined
                        </td>
                        <td class="td_body">
                            {{ summary.declined }}
                        </td>
                    </tr>
                    <tr class="tr_body">
                        <td class="td_body table_head">
                            On Hold
                        </td>
                        <td class="td_body">
                            {{ summary.hold }}
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
</div>