<div class="col-sm-2 bg-left-sidebar">
    <nav class="navbar navbar-expand-sm navbar-dark leftsidebar">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar_wex">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav navbar-nav navbar-collapse collapse flex-column " id="navbar_wex">
      {% if user.userprofile.get_group_name == "admin" %} 
        <a href="{% url 'nominate_app:dashboard' %}" class="nav-link leftsidebar {% if request.path == "/dashboard/" %}active{% endif %}">Dashboard</a>
        <a href="{% url 'nominate_app:awards' %}" class="nav-link leftsidebar {% if request.path == "/awards/" %}active{% endif %}">Awards</a>
        <a href="{% url 'nominate_app:award_templates_home' %}" class="nav-link leftsidebar {% if request.path == "/award_templates/" %}active{% endif %}">Award Templates</a>
        <a href="{% url 'nominate_app:nomination_status' %}" class="nav-link leftsidebar {% if request.path == "/nomination_status/" or "/nomination_status_load/" in request.path %}active{% endif %}">Nomination Status</a>
        <a href="{% url 'nominate_app:users' %}" class="nav-link leftsidebar {% if request.path == "/users/" %}active{% endif %}">User Management</a>
      {% else%}
        <a href="{% url 'nominate_app:nominations' %}" class="nav-link leftsidebar {% if request.path == "/nominations/" %}active{% endif %}">Nominate</a>
      {% endif %}
      <a href="{% url 'nominate_app:nomination_feed' %}" class="nav-link leftsidebar {% if request.path == "/nomination_feed/" %}active{% endif %}">Nominations</a>
      {% if user.userprofile.get_group_name == "directorial board member" %}
            <a href="{% url 'nominate_app:approval' %}" class="nav-link leftsidebar {% if request.path == " /approvals/ " %}active{% endif %}">Approvals</a> {% endif %}
            

      {% if user.userprofile.get_group_name == "technical jury member" %} 
        <a href="{% url 'nominate_app:nomination_review_index' %}" class="nav-link leftsidebar {% if request.path == "/nomination_review/" %}active{% endif %}" >Review</a>
      {% endif %} 

      <a href="{% url 'nominate_app:results' %}" class="nav-link leftsidebar {% if request.path == "/results/" %}active{% endif %}">Results</a>
    </div>
  </nav>
</div>


