<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    Dear {{admin_name}},</br>

    We are done with the submissions, reviews and declaration processes for {{ template }}.</br>
    Please publish the results for the managers and tech jury members to be able to see the results for the link <a href="{{ link }}">here</a>.</br>
    Please proceed with further processes.</br>

</body>
</html>