<!DOCTYPE html> {% load staticfiles %}
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
       <div style="font-family: arial,sans-serif">

            <p>
                <br> Dear {{director_name}},<br>
                <br> Greetings!</br>
                <br>The nominations have been submitted by the team</br>
                <br>It's time to start review process, looking forward to you for final procedures.</br>
                <br> Do reach out to the HR team for any clarification or support required </br>
            </p>
    
    </div>
</body>

</html>