<p>Dear {{ name }},</p>

<p>Greetings!</p>

<p>Please consider this notification as a gentle reminder that nominations have been submitted by the managers and reviewed by the tech jury members for the award "{{ award }}".
</p>

<p>Kindly approve/reject the nominations, looking forward to you for final procedures.</p>

<p>The last date for the submission is {{ last_date }}. Please find the below link. 
<a href="{{ link }}">link</a></p>

<p>Do reach out to the HR team for any clarification or support required.</p>