<!DOCTYPE html> {% load staticfiles %}
<html>

<head>
    <meta charset="UTF-8">
   

</head>

<body>
        <div style="font-family: arial,sans-serif">

            <p>
                <br>Dear {{director_name}},</br>
                <br>Greetings!</br>
                <br>Please consider this notification as a gentle reminder to submit your reviews.</br>
                <br>The last date for submission is on {{last_date}}.</br>
                <br>Do reach out to the HR team at for any clarification or support required.</br>
            </p>

    
    </div>
</body>

</html>