<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <br>Dear {{ name }},</br>
    <br>Thanks for your contributions.</br>
    <br>We are pleased to inform you that {{director_name}} have submitted the form for {{ template }}.</br>
    <br>Hence it's time to declare the final results.</br>
    <br>Be in loop...</br>
    <br>Results will be announced soon.</br>
</body>
</html>