<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
</head>
<body>

    Dear {{user_name}},

    Congratulations!!!</br>
    You have been added as {{user_group}} role in Nominate Your Bee.</br>
    We are pleased to invite you for {{user_group}} role.</br>
    Please enroll in your role from the below link provided.</br>
    <a href="{{url}}">here</a></br>
    Feel free to ask any questions.</br>
    We expect your valuable contributions and feedback.</br>
    
</body>
</html>