<!DOCTYPE html> {% load staticfiles %}
<html>

<head>
    <meta charset="UTF-8">  
</head>

<body>
   <div style="font-family: arial,sans-serif">
        
            <p>
                <br>Dear {{ Manager_name }},</br>
                <br>Greetings!</br>
                <br>It's time to nominate your bee. Please consider this notification as gentle reminder to start nominating from {{start_date}} to {{last_date}}</br>
                <br>Do reach out to the HR team for any clarification or support required. </br>
            </p>

     
    </div>
</body>

</html>