<!DOCTYPE html> {% load staticfiles %}
<html>

<head>
    <meta charset="UTF-8">
  

</head>

<body>
   <div style="font-family: arial,sans-serif">
            <p>
                <br>Dear {{name}},</br>
                <br>Results are published!!!</br>
                <br>Glad to inform you that award {{award_name}} of {{award_template}} has been approved by the Director.
                <br>Do reach out to the HR team for any clarification or support required.</br>

            </p>
   
    </div>
</body>

</html>