<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <br>Dear {{name}},</br>

    <br>Reminder:Last date to {{ new_status }} the nominations for {{award_template}} under the award {{ award_name }} is on {{ end_day }}.</br>

    <br>Providing the link below.</br>
    <br><a href = {{link}}>(here)</a></br>

    <br>Do reach out to the HR team for any clarification or support required</br>
</body>
</html>