<!DOCTYPE html> {% load staticfiles %}
<html>

<head>
    <meta charset="UTF-8">

</head>

<body>
        <div style="font-family: arial,sans-serif">

            <p>
                Dear {{tech_jury_name}},
                <br>Greetings!</br>
                <br>Yet to submit reviews? </br>
                <br>This is to inform you that we have extended the reviews submission date from {{end_date}} to {{new_end_date}}.<br>
                <br>Please submit as soon as possible.</br>
            </p>

    </div>
</body>

</html>